{{- $contributorsLen := 0 -}}
{{- if .Params.contributors -}}
  {{- $contributorsLen = len .Params.contributors -}}
{{- end -}}
{{- $last := sub $contributorsLen 1 -}}
<p>
  <small>
    {{- time.Format (default ":date_long" .Site.Params.dateFormat) .PublishDate -}}
    {{- with .Params.categories -}}
      &nbsp;{{ i18n "in" }}&nbsp;
      {{- range $index, $category := . -}}
        {{ if gt $index 0 }}, {{ end -}}
        <a class="stretched-link position-relative link-muted" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
      {{- end }}
    {{- end }}
    {{- with .Params.contributors -}}
      &nbsp;{{ i18n "by" }}&nbsp;
      {{- range $index, $contributor := . -}}
        {{- if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end -}}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "contributors/%s" (urlize .)) -}}
          {{ if $.Params.avatar -}}
            {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
            {{ $imageLq := $image.Resize "15x15 webp q95" -}}
            {{ $image = $image.Resize "60x60 webp q95" -}}
            <img class="avatar avatar-xsmall rounded-circle me-1" src="{{ $imageLq.RelPermalink }}" alt="{{ .Params.name }}" width="15" height="15" loading="lazy" decoding="async" data-src="{{ $image.RelPermalink }}" data-sizes="auto">
          {{ end -}}
          <a class="stretched-link position-relative link-muted" href="{{ .RelPermalink }}">{{ .Params.name }}</a>
        {{- else -}}
          <a class="stretched-link position-relative link-muted" href="{{ "/contributors/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
        {{- end -}}
      {{- end }}
    {{- end }}
  </small>
</p>
{{- with .Params.updated -}}
  <p><small><strong>{{ i18n "updated" }}</strong>: {{ time.Format (default ":date_long" $.Site.Params.dateFormat) . -}}</small></p>
{{- end -}}
