<a class='dropdown-item {{ if eq .Section "docs" }} current {{end}}' aria-current='{{ if eq .Section "docs" }} true {{end}}' href="/docs/getting-started/welcome-to-oakestra-docs/"> Latest: Bass (v{{ site.Params.doks.docsVersion }}) &nbsp;&nbsp;</a>
<hr class="dropdown-divider">
<a class="dropdown-item " href="/version/alpha-v0.4.403/docs/getting-started/welcome-to-oakestra/">Alpha v0.4.403</a> 
<a class="dropdown-item " href="/version/0.4.301/docs/getstarted/get-started-cluster/">Accordion v0.4.301</a>