{{ $pngName := index .Params 0 }}
{{ $pageDir := .Page.File.Dir }}

{{ $lightPngPath := printf "%simages/%s/light.png" $pageDir $pngName }}
{{ $darkPngPath := printf "%simages/%s/dark.png" $pageDir $pngName }}

<style>
    .constrain-image {
        max-width: 100% !important;
        height: auto !important;
    }
</style>

<figure class="svg-lightmode constrain-image">
    <img src="{{ $lightPngPath | relURL }}" alt="light">
</figure>

<figure class="svg-darkmode constrain-image">
    <img src="{{ $darkPngPath | relURL }}" alt="dark">
</figure>
