{{ $svgName := index .Params 0 }}
{{ $pageDir := .Page.File.Dir }}

{{ $lightSvgPath := printf "%ssvgs/%s/light.svg" $pageDir $svgName }}
{{ $darkSvgPath := printf "%ssvgs/%s/dark.svg" $pageDir $svgName }}

<style>
    .constrain-image {
        max-width: 100% !important;
        height: auto !important;
    }

    .constrain-image svg {
        width: 100% !important;
        height: auto !important;
    }
</style>

<figure class="svg-lightmode constrain-image">
    {{ readFile $lightSvgPath | safeHTML }}
</figure>
<figure class="svg-darkmode constrain-image">
    {{ readFile $darkSvgPath | safeHTML }}
</figure>
